body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url(../../img/identity_illustrations_guideline_4x.png) ;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    /* background-color: antiquewhite; */
}

:root {
    --light-green: rgb(140, 252, 158);
    --dark-green: rgb(72, 160, 97);
    --theme-blue: rgb(79, 208, 255);
}

section.cont {
    width: 400px;
    border-radius: 10px;
    /* min-width: 300px; */
    margin: auto;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); */
    box-sizing: border-box;
    /* border: solid 1px rgba(245, 245, 245, 0.1); */
    background: linear-gradient(45deg, rgba(19, 189, 84, 0.616), rgba(34, 110, 161, 0.808));
}

nav {
    display: flex;
    list-style-type: none;
    max-width: 400px;
    margin: 0;
    height: 50px;
    color: rgba(0, 179, 242, 1);
    align-items: center;
}

nav>li {
    flex: 1;
    cursor: pointer;
    border-bottom: solid 1px rgba(245, 245, 245, 0.1);
    text-align: center;
    line-height: 50px;
    height: 100%;
    color: white;
    box-sizing: border-box;
}

nav>li:hover {
    background: rgba(254, 188, 82, .5);
    color: rgba(248, 259, 253, 1)
}


nav>li.selected {
    color: var(--light-green);
    border-bottom:  solid 3px currentColor;
}

form {
    display: flex;
    flex-flow: column;
    padding: 10px 2rem 2em;
    box-sizing: border-box;
    justify-content: center;
}

form.hidden {
    display: none;
}

/* its best sometimes if you use a class selector for elements that appear more than once on a page.
used: 
-- h5 

preferred:
-- .label .caption
*/
h5 {
    color: white;
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
    margin: 20px 0 10px;
    font-variant: all-small-caps;
}

form > input,
form > select {
    width: 100%;
    outline: none;
    display: block;
    color: white;
    padding-left: 10px;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
    background-color: transparent;
}

input:focus {
    border: solid 1px var(--theme-blue);
    border-radius: 5px;
}

.input-box, input, select {
    height: 40px;
    line-height: 40px;
    font-size: 1em;
    border-radius: 5px;
    margin-bottom: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: solid 1px white;
    caret-color: var(--light-green);
}

.input-box {
    display: flex;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    padding-left: 10px;
    align-items: center;
    box-sizing: border-box;
}

.input-box > .prefix {
    width: 40px;
    color: white;
    margin-right: 5px;
}

div.input-box > input {
    flex: 1;
    margin: 0;
    padding: 0;
    border: none;
    color: white;
    line-height: 10px;
    background: transparent;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 40px auto 0;
}

.btns > button {
    flex: 1 0;
    height: 40px;
    border: none;
    font-size: 1em;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: 0.2s ease-in-out;
}

div.btns>button[type=submit] {
    margin-right: 15px;
    background-color: whitesmoke;
    color: var(--dark-green);
}

div.btns>button[type=submit]:hover {
    background: rgba(160, 225, 180, 1);
    color: black;
}

div.btns>button[type=reset] {
    background: transparent;
    border: solid 2px currentColor;
    color: white;
}

div.btns>button[type=reset]:hover {
    background: rgba(250, 129, 99, 1);
}
